{% extends chf_tabbed_document.html %}
{% block title %}cherry-forms test application{% end %}
{% block tabs %}
<li><a href="#basic">Fields</a></li>
<li><a href="#select">Selectors</a></li>
<li><a href="#list">Lists</a></li>
<li><a href="#document">Embedded document</a></li>
<li><a href="#tree">Tree</a></li>
<li><a href="#charts">Charts</a></li>
<li><a href="#grid">Document grid</a></li>
{% end %}
{% block form %}
<div class="tab-content">
<div id="basic">
{% module TextField('text', label='Text:', value='String value') %}
{% module NumberField('number', label='Number:', value=108) %}
{% module TextField('id', label='Identifier:', value='some_id', widget='Identifier') %}
{% module TimeDelta('delta', label='TimeDelta:', value=30000) %}
{% module DateField('date', label='Date:', value=time) %}
{% module TextArea('textarea', label='TextArea:', value='<strong>Rich</strong> <i class="icon-bell"></i> text') %}
{% module CheckBox('check', label='Checkbox', value=True) %}
</div>
<div id="select">
{% module SelectField('simple_select', label='Simple select:', value=2,
    choices=[1, 2, [3, 'three'], {'value': 4, 'title': 'four'}]) %}
{% module SelectField('not_null_select', label='Required select:', value=1, not_null=True,
    choices=[1, 2, [3, 'three'], {'value': 4, 'title': 'four'}]) %}
{% module PillsField('pills_select', label='Take a pill:', value=1, not_null=True,
    choices=[['blue', 'Blue pill'], ['red', 'Red pill']]) %}
{% module RadioGroup('radio_group', label='Select a radio:', value=1, not_null=True,
    choices=[['soma', 'Soma'], ['calm', 'Calm']]) %}
</div>
<div id="list">
{% module ListField('options_list', label='List with options:', value=[3, 4],
    choices=[1, 2, [3, 'three'], {'value': 4, 'title': 'four'}]) %}
{% module ListField('unique_list', label='Unique list:', value=[3, 4], unique=True,
    choices=[1, 2, [3, 'three'], {'value': 4, 'title': 'four'}]) %}
</div>
<div id="document">
{% module DocumentField('doc', label='Embedded document:',
    value={'text_field': 'Some string here', 'int_field': 5, 'list_field': [2, 3]},
    schema=[
        {'widget': 'Text', 'field': 'text_field'},
        {'widget': 'Number', 'field': 'int_field'},
        {'widget': 'List', 'field': 'list_field', 'choices': [1, 2, 3]}
    ]) %}
{% module DocumentListField('doc_list', label='Embedded document list:',
    value=[
        {'text_field': 'Some string here', 'int_field': 5, 'list_field': [2, 3]},
        {'text_field': 'Another string', 'int_field': 3, 'list_field': [1, 1]},
        {'text_field': 'Fuck!', 'int_field': 100500, 'list_field': ['quick brown bullocks', 'bumble bee']},
    ],
    schema=[
        {'widget': 'Text', 'field': 'text_field'},
        {'widget': 'Number', 'field': 'int_field'},
        {'widget': 'List', 'field': 'list_field', 'choices': [1, 2, 3, 'quick brown bullocks', 'bumble bee']}
    ]) %}
</div>
<div id="grid">
{% module DocumentGridField('doc_grid', label='Documents grid:', value=[
        {'_id': 1, 'text_field': 'Some string here', 'int_field': 5, 'list_field': [2, 3]},
        {'_id': 2, 'text_field': 'Another string', 'int_field': 3, 'list_field': [1, 1]},
        {'_id': 3, 'text_field': 'Fuck!', 'int_field': 100500, 'list_field': ['quick brown bullocks', 'bumble bee']},
    ],
    fields=['text_field', 'int_field']) %}
</div>
<div id="tree">
{% module TreeField('tree', label='Tree field:', value=['node_002', 'leaf_002'],
    tree=[
        {'title': 'Root 01', 'value': 'root_01', 'children': [
            {'title': 'Node 000', 'value': 'node_000'},
            {'title': 'Node 001', 'value': 'node_001', 'children': [
                {'title': 'Leaf 000', 'value': 'leaf_000'},
                {'title': 'Leaf 001', 'value': 'leaf_001'},
                {'title': 'Leaf 002', 'value': 'leaf_002'},
            ]},
            {'title': 'Node 002', 'value': 'node_002'},
        ]},
        {'title': 'Root 02', 'value': 'root_02'}
    ]) %}
</div>
<div id="charts">
{% module LineChart('line_chart', label='Line chart:', data=[
        ['X', 'Line 1', 'Line 2'],
        [1,   10,       15],
        [2,   15,       17],
        [3,   16,       18],
        [4,   17,       10],
        [5,   25,       9],
        [6,   4,        9],
    ]) %}
{% module PieChart('line_chart', label='Pie chart:', data=[
        ['Task', 'Hours per Day'],
        ['Work',     11],
        ['Eat',      2],
        ['Commute',  2],
        ['Watch TV', 2],
        ['Sleep',    7]
    ]) %}

</div>
</div>
{% end %}
