@import "chf-shared";

.chf-field-list {
  .chf-field-items {
    margin: .5em;

    & > div {
      white-space: nowrap;
      display: inline-block;
      margin-right: 1em;

      .chf-icon-trash {
        .chf-inline-icon(0, 1em);
      }
    }

  }

  .chf-field-new-field {
    display: inline-block;
  }
}
