@import "chf-shared";
@import "bootstrap-variables";

.chf-field-tree {

  .chf-tree, .chf-tree-children {
    margin: 0;
    padding: 0 0 0 .5em;
    list-style-type: none;
  }

  .chf-tree-node {
    position: relative;
    padding-left: 1.5em;

    .chf-icon-collapse, .chf-icon-expand {
      display: block;
      position: absolute;
      top: 2px; left: 0;
    }
  }

  .chf-selected {
    font-weight: bold;
    color: @blueDark;
  }
}


